
.input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-left: 218px;
        height: 50px;
        border-color: #ffffff;
    }
.button{
    color: #212529;
    font-family: "Montserrat", sans-serif;
    background-color: #ffffff;
    border-color: #ffffff;
    align-items: center;
    vertical-align: middle;
    position: relative;
    font-family:sans-serif;
    object-position: unset;
    margin-left: 50px;
    width: 200px;
    margin-left: 218px;
    height: 45px;
    margin-top:28px ;
    margin-right: 50px;

    }
.button {
        color: #212529;
        background-color: #ffffff;
        border-color: #ffffff;
    }
.button:hover {
        color: #ffffff; 
        background-color: #0069d9; 
        border-color: #0062cc;
    }

    
    

    
